<!--Modal Nuevos Proyectos Maminna-->
<div class="modal fade" id="ProyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header"><!--encabezado-->
          <h5 class="modal-title"><b>Nuevos Proyectos</b></h5>
        </div>
        <div class="modal-body"><!--cuerpo-->
          <div class="mb-3">
            <label for="formFileSm" class="form-label"><b>Seleccione la imagen</b></label>
            <input class="form-control form-control-sm" id="formFileSm" type="file">
          </div>
          <div class="mb-3">
            <label for="ProyInput1" class="form-label"><b>Nombre del Cliente</b></label>
            <input type="Titulo" class="form-control" id="ProyInput1">
          </div>
          <div class="mb-3">
            <label for="ProyInput2" class="form-label"><b>Detalle</b></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Guardar</button>
          <button type="button" class="btn btn-Primary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <!--Fin Modal EYSE-->
