<!--Modal Titulo-->
<div class="modal fade" id="TituloModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header"><!--encabezado-->
          <h5 class="modal-title"><b>Titulo</b></h5>
        </div>
        <div class="modal-body"><!--cuerpo-->
          <div class="mb-3">
            <label for="TituloInput2" class="form-label"><b>Ingrese el texto</b></label>
            <input type="Titulo" class="form-control" id="TituloInput2">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Guardar</button>
          <button type="button" class="btn btn-Primary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <!--Fin Modal Titulo-->
