<!--Comienzo footer-->
<footer id="final">
    <div class="container mb-3"> 
      <div class="row mt-2">
        <div class="col-6">
          <h6><b>Proyectos by Vanina Robledo</b></h6>
        </div>
        <div class="col">
        </div>
        <div class="col-3">
          <button type="button" class="btn" data-bs-dismiss="modal" id="bajarcv"><b> Descargar Curriculum</b></button>
        </div>
        <h1></h1>  
        <h1></h1>    
      </div>
    </div>
  </footer>
  <!--Fin footer-->
