<!--Modal Nombre Usuario-->
<div class="modal fade" id="NombreApellidoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header"><!--encabezado-->
          <h5 class="modal-title"><b>Datos Personales</b></h5>
        </div>
        <div class="modal-body"><!--cuerpo-->
          <div class="mb-3">
            <label for="NombreInput1" class="form-label"><b>Nombre y Apellido</b></label>
            <input type="NombreApellido" class="form-control" id="NombreInput1">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Guardar</button>
          <button type="button" class="btn btn-Primary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <!--Fin Modal Nombre Usuario-->
