<!--Modal Info-->
<div class="modal fade" id="InfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header"><!--encabezado-->
          <h5 class="modal-title"><b>Info Resumida</b></h5>
        </div>
        <div class="modal-body"><!--cuerpo-->
          <div class="mb-3">
            <label for="InfoInput3" class="form-label"><b>Ingrese el texto</b></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Guardar</button>
          <button type="button" class="btn btn-Primary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <!--Fin Modal Info-->
