<!--Modal Hard & soft Skill-->
<div class="modal fade" id="HSSModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header"><!--encabezado-->
          <h5 class="modal-title"><b>Hard & Soft Still</b></h5>
          <h5 class="modal-title"><b>Ingrese el Porcentaje</b></h5>
        </div>
        <div class="modal-body"><!--cuerpo-->
          <div class="mb-3 row">
            <div class="col-sm-7">          
              <label for="HSSInput1" class="form-label"><b>Lenguaje Programacion</b></label>
            </div>
            <div class="col-sm-5">          
              <input type="Titulo" class="form-control" id="HSSInput1">
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-sm-7"> 
              <label for="HSSInput2" class="form-label"><b>Base de Datos</b></label>
            </div>
            <div class="col-sm-5">
              <input type="Titulo" class="form-control" id="HSSInput2">
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-sm-7">
              <label for="HSSInput3" class="form-label"><b>Ingles</b></label>
            </div>
            <div class="col-sm-5">
              <input type="Titulo" class="form-control" id="HSSInput3">
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-sm-7">
              <label for="HSSInput4" class="form-label"><b>Conocimiento de Softward Administrativo</b></label>
            </div>
            <div class="col-sm-5">
              <input type="Titulo" class="form-control" id="HSSInput4">
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-sm-7">
              <label for="HSSInput5" class="form-label"><b>Trabajo En Equipo</b></label>
            </div>
            <div class="col-sm-5">
              <input type="Titulo" class="form-control" id="HSSInput5">
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-sm-7">
              <label for="HSSInput6" class="form-label"><b>Creatividad</b></label>
            </div>
            <div class="col-sm-5">
              <input type="Titulo" class="form-control" id="HSSInput6">
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-sm-7">
              <label for="HSSInput7" class="form-label"><b>Habilidades Comunicativas</b></label>
            </div>
            <div class="col-sm-5">
              <input type="Titulo" class="form-control" id="HSSInput7">
            </div>
          </div>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Guardar</button>
          <button type="button" class="btn btn-Primary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <!--Fin Modal hard & soft-->
