<!--Modal foto perfil-->

<div class="modal fade" id="fotoperfil" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header"><!--encabezado-->
          <h5 class="modal-title"><b>Foto Perfil</b></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body"><!--cuerpo-->
          <div class="mb-3">
            <label for="formFileSm" class="form-label"><b>Seleccione el archivo</b></label>
            <input class="form-control form-control-sm" id="formFileSm" type="file">
          </div>
         </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Guardar</button>
          <button type="button" class="btn btn-Primary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  <!--Fin Modal foto perfil-->
