/*-- Aca se agrega una imagen al banner (z-index me permite surpeponer imagenes)--*/
#banner{
    background-color: white;
    background-image: url(/assets/img/background.png);

    background-size: 100%;
    background-repeat: repeat-y;
}

/*-- Estilo de la foto de perfil--*/
.rounded-circle{
    border-style: solid;
    border-width: 1px;
}

.card{
    background-color: transparent;
    border: transparent;
    align-items: center;
}

.card-body{
    text-align: center;
}